# Ignore node_modules & build outputs
node_modules/
dist/
.vite/
out/

# Ignore IDE and system files
.vscode/
.idea/
.DS_Store
*.swp
*.suo
*.ntvs*
*.njsproj
*.sln
*.log

# Ignore TypeScript build artifacts
*.tsbuildinfo

# Ignore package manager files
package-lock.json
yarn.lock
pnpm-lock.yaml

# Ignore env files (Secrets)
.env
.env.local
.env.development
.env.production
